.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .container h3 {
    color: black;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 15px;
  }
  
  .container button {
    background-color: rgb(255, 255, 255);
    border-style: none;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    height: 50px;
    margin: 0;
    padding: 10px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    width: 70px;
  }